<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common">

<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">

    <div class="container">
        <div class="page-header">
            <h1>게시글 목록</h1>
        </div>
        <div class="pull-right" style="width:100px;margin:10px 0;">
            <a href="/write" class="btn btn-primary btn-block">등록</a>
        </div>
        <br/><br/><br/>

        <div id="mainHide">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-2">제목</th>
                    <th class="col-md-5">작성자</th>
                    <th class="col-md-2">조회수</th>
                    <th class="col-md-2">작성날짜</th>
                    <th class="col-md-2">수정날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="document : ${documentList}">
                    <td th:text="${document.id}"></td>
                    <td><a th:href="'/read?id='+${document.id}" th:text="${document.title}"></a></td>
                    <td th:text="${document.user_id}"></td>
                    <td th:text="${document.views}"></td>
                    <td th:text="${document.created_date}"></td>
                    <td th:text="${document.updated_date}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--<nav aria-label="Page navigation" style="text-align:center;">-->
        <!--    <ul class="pagination" th:with="startNumber=${T(Math).floor(documentList.number/10)}*10+1,-->
        <!--endNumber=(${documentList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${documentList.totalPages}">-->
        <!--        <li><a aria-label="Previous" href="/board/list?page=1">&laquo;</a></li>-->
        <!--        <li th:style="${documentList.first} ? 'display:none'">-->
        <!--            <a th:href="@{/list(page=${documentList.number})}">&lsaquo;</a>-->
        <!--        </li>-->

        <!--        <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${documentList.number}+1) ? 'active'">-->
        <!--            <a th:href="@{/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>-->
        <!--        </li>-->

        <!--        <li th:style="${documentList.last} ? 'display:none'">-->
        <!--            <a th:href="@{/board/list(page=${documentList.number}+2)}">&rsaquo;</a>-->
        <!--        </li>-->
        <!--        <li><a aria-label="Next" th:href="@{/list(page=${documentList.totalPages})}">&raquo;</a></li>-->
        <!--    </ul>-->
        <!--</nav>-->
    </div>

</div>
</html>