<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common">

<head>
    <meta charset="UTF-8">
    <title>글 쓰기</title>
</head>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <div th:if="${mode == 'write'}">
        <form role="form" th:action="@{/write}" method="post">
            제목 : <input type="text" name="title" > <br>
            작성자 : <input type="text"  name="user_id"> <br>
            <textarea name="content"  ></textarea><br>

            <input type="hidden" name="isError" value="false">

            <input type="submit" value="등록">
        </form>
    </div>
    <div th:if="${mode == 'update'}">
        <form role="form" th:object="${document}" th:action="@{/update}" method="post">
            제목 : <input type="text" name="title" th:field="*{title}" th:value="${document.title}" readonly><br>
            작성자 : <input type="text" name="user_id" th:field="*{user_id}" th:value="${document.user_id}" readonly><br>
            <textarea name="content" th:field="*{content}" th:text="${document.content}"></textarea><br>
            <input type="hidden" name="id" th:field="*{id}" th:value="${document.id}" readonly/>

            <input type="submit" value="수정">
        </form>
    </div>
</div>
</html>